body {
    background-color: beige;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 2px;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #0c7c10; /* Green */
    border: 2px solid #0c7c10;
}